@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,800;1,800&display=swap');

.background-black {
  background-color: black;
}

.invert {
  filter: invert(1);
}

.img-size {
  width: 25px;
  height: 25px;
}

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

/* Apply scrollbar styles globally */
/* Width and height for the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
  height: 10px;
  /* Height of the scrollbar */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #333, #666);
  /* Gradient background */
  border-radius: 5px;
  /* Radius of the scrollbar handle */
  border: 2px solid #000;
  /* Border around the handle */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  /* Inner shadow effect */
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #222;
  /* Color of the scrollbar track */
  border-radius: 10px;
  /* Radius of the scrollbar track */
}

/* Corner styles */
::-webkit-scrollbar-corner {
  background: #000;
  /* Color of the scrollbar corner (if visible) */
}

/* Animate the scrollbar handle */
::-webkit-scrollbar-thumb {
  transition: background 0.3s ease;
  /* Smooth transition */
}

/* Hover effect on scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #666, #999);
  /* Gradient background */
  cursor: pointer;
}

.color {
  color: white;
}

.font {
  font-family: "Wix Madefor Text", sans-serif;
}